body{
  background-color: #0d0c1d;
  color: #f0f0f0;
  margin: 0px;
}
.navbar{
  background-color: #060026;
  display: flex;
  justify-content:space-between;
}
ul{
  display: flex;
  
}
.nav_list{
  list-style: none;
  margin-right: 1rem;
}
.row{
  display: flex;
  align-items:center;
}
#search{
  border-radius: 0.6rem;
  height: 2rem;
}
.btns{
/*   margin: auto; */
  margin-left: 2px;
  
}
.btn{
/*   margin: 2px; */
  padding: 0.6rem;
}